######################## 원격접속통제 ########################
#   당신이 작업하는 모든 내용이 기록되고 모니터링 됩니다.    #
#                                                            #
#   작업하기 전에                                            #
#                                                            #
#1. 당신이 "작업하는 서버" 확인                              #
#2. 입력하는 "명령어" 확인                                   #
#3. 작업하는 "디렉토리" 확인                                 #
#                                                            #
#                                                            #
#                                                            #
#                                                            #
#                                                            #
#   마지막으로 명령어 다시 한번 확인 하신 후 입력하세요.     #
##############################################################
##############################################################
#                                                            #
# All connections are monitored and recorded!!               #
#                                                            #
# Disconnect IMMEDIATELY if you are not an authorized user!! #
#                                                            #
##############################################################
##############################################################
#             동행복권의 운영 시스템입니다!                  #
##############################################################
